fastapi
uvicorn
pydantic
pillow
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
transformers==4.33.2
tokenizers==0.13.3
pytorch_lightning

mysql-connector-python
aiohttp
aiofiles
python-dotenv
python-multipart
pydantic-settings
tqdm
